

//colors
$color-white:#fff;
$color-yellow:#FCD980;
$color-dark-blue:#282938;
$color-royal-blue:#2405F2;
$color-gray:#F4F6FC;
$color-gray-border:#ECECF1;
$color-gray-opacity: rgba(244, 246, 252, 0.5);
$color-blue-arrow:#5239FA;
$color-black-button:#1B1C2B;
$blue:#1C1E53;

$font-family: var(--font-poppins);

$font-family-2:var(--font-manrope);
